---
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'
---

<section id="call-to-action" class="w-full bg-sky-blue px-6 py-14">
  <Container tag="article" class="flex flex-col gap-y-6 text-center">
    <h3 class="text-center text-2xl font-semibold sm:text-3xl lg:text-5xl xl:text-6xl">Regístrate gratis</h3>

    <p class="mx-auto max-w-[1010px] text-gray sm:text-lg lg:text-xl">
      Simplifica la programación, elimina los inconvenientes de coordinación y maximiza tu productividad, descubre una
      forma más inteligente y fácil de gestionar tu tiempo. ¡Comienza a aprovechar al máximo cada minuto!
    </p>

    <Button primary data-action="inscription" class="mx-auto w-max">¡Regístrate ahora!</Button>
  </Container>
</section>
