---
export interface Props {
  primary?: boolean
  class?: string
}

const { primary = false, class: extraClass, ...restProps } = Astro.props
---

<button
  class:list={[
    'rounded-2xl border border-primary px-4 py-3 font-bold hover:scale-105 active:scale-95',
    { 'bg-primary text-white': primary },
    { 'text-primary': !primary },
    extraClass,
  ]}
  {...restProps}
>
  <slot />
</button>
